<div class="row">
    <div class="col-4 text-right font-weight-bold">{{name}}:</div>
    <div class="col-2">{{value}}</div>
    <div class="col-2">
        <span
            class="badge {{^error}}bg-success{{/error}}{{#error}}bg-danger{{/error}} text-white"
        >
            {{^error}}{{#str}} ok {{/str}}{{/error}}{{#error}}{{error}}{{/error}}
        </span>
    </div>
</div>
